body {
  background-color: #EEE;
  color: #000;
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;                
  font-size: 15px;
  min-width: 500px;
}

a, a:visited {
  color: #4A90E2;
}

#wrapper {
  border-radius: 5px;
}

button {
  outline: none;
}

#page-donation, #page-nodonate, #page-brainblocks, #page-donation-successful, #page-donation-unsuccessful, #page-history, #page-first-use {
  display: none;  
  background-color: #FFF;
  padding: 0.5rem;
  padding-bottom: 2rem;
}

input {
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;                
  padding: 0.2rem;
  font-size: 1rem;
}

#nano-donation-amount {
  width: 10rem;
}

#nano-donation-submit {
  cursor: pointer;
}

#suggestions-wrapper {
  width: 100%;        
  margin: 1rem;
}

.suggestion {
  display: inline-block;
  background-color: #4a90e2;
  color: #FFF;
  min-width: 5rem;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.3rem 0;
}

#address-wrapper {
  margin: 1rem 0;
}

#website-wrapper {
  margin: 0.5rem 0;
}

#website {
  color: #666;
}

#address {
  font-weight: bold;
}      

#nano-amount-error {
  color: red;
}

h4 {
  margin: 0.2rem;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0.2rem 0;
}

header #title {
  margin-right: auto;
  margin-left: 0.3rem;
  font-weight: bold;
  color: #333;
}

h3 {
  padding: 0;
  margin: 0.4rem 0 0.2rem 0;
}     

footer {
  background-color: #666;
  color: #FFF;
  padding: 0.3rem;
  font-size: 0.8rem;
}

footer a, footer a:visited {
  color: #FFF;
}             

#nano-donation-form {
  background-color: #EEE;
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  
}

#nano-donation-amount-success {
  font-weight: bold;
}

#back-link, #history-link, #history-link-donation-successful {
  color: #666;        
  cursor: pointer;
}

#back-link, #history-link {
  margin-left: 1.5rem;
}

#donation-history-item {        
  font-size: 0.8rem;
  margin: 0.7rem 0 2rem 0;
  border: 1px solid #CCC;
}

#donation-history-item tr td:first-child {
  font-weight: bold;
  white-space: nowrap;
  background-color: #BBB;
}

#donation-history-item td {
  padding: 0.2rem;
}

#address {
  font-family: monospace;
  word-wrap: break-word;
  font-size: 88%;
  width: 200px;
}
