body {
  background-color: #EEE;
  color: #000;
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;                
  font-size: 15px;
  min-width: 500px;
  margin: 0rem;
}

a, a:visited {
  color: #4A90E2;
}

#wrapper {
  border-radius: 5px;
}

button {
  outline: none;
  box-shadow: 0px 2px 0px #94b7dd;
}

.page {
  display: none;  
  background-color: #FFF;
  padding: 0.8rem;
  padding-bottom: 2rem;
  margin-top: 0.3rem;
}

input {
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;                
  padding: 0.2rem;
  font-size: 1rem;
}

#nano-donation-amount {
  width: 9rem;
}

#nano-donation-submit {
  cursor: pointer;
  box-shadow: 0px 2px 0px #94b7dd;
}

#suggestions-wrapper {
  width: 100%;        
  margin-top: 0.8rem;
}

.suggestion {
  display: inline-block;
  border: 1px solid #999;
  color: #FFF;
  min-width: 2rem;  
  max-width: 2rem;  
  border-radius: 5px;
  cursor: pointer;
  margin: 0.3rem 0;
  padding-left: 3rem;
  box-shadow: 0px 2px 0px #94b7dd;
  background: #4a90e2 url('/images/icon-nano-white.png') 14px 5px no-repeat 
}

#address-wrapper {
  color: #666;
  margin: 1rem 0;
}

#website-wrapper {
  margin: 0.5rem 0;
}

#website {
  color: #666;
}

#nano-amount-error {
  color: red;
  margin: 0.3rem 0 0 1.6rem;
}

h4 {
  margin: 0.2rem;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0.2rem 0;
  padding: 0.4rem;
}

header #title {
  margin-right: auto;
  margin-left: 0.3rem;
  font-weight: bold;
  color: #333;
}

h3 {
  padding: 0;
  margin: 0.4rem 0 0.2rem 0;
}     

footer {
  background-color: #4a90e2;
  color: #FFF;
  padding: 0.3rem;
  font-size: 0.8rem;
}

footer a, footer a:visited {
  color: #FFF;
}             

#nano-donation-form {
  background-color: rgba(0,0,0,0.1);
  margin: 1rem 0 2rem 0;
  padding: 1.3rem 1rem;
  border-radius: 5px;
}

#nano-donation-amount-success {
  font-weight: bold;
}

#back-link, #history-link, #history-link-donation-successful {
  color: #666;        
  cursor: pointer;
}

#back-link, #history-link {
  margin-left: 1.5rem;
}

#donation-history-item {        
  font-size: 0.8rem;
  margin: 0.7rem 0 2rem 0;
  border: 1px solid #CCC;
}

#donation-history-item tr td:first-child {
  font-weight: bold;
  white-space: nowrap;
  background-color: #BBB;
}

#donation-history-item td {
  padding: 0.2rem;
}

#address, #address-qr-code-page {
  font-weight: bold;
  font-family: monospace;
  word-wrap: break-word;
  font-size: 88%;
  width: 200px;
}

.payment-choice {
  margin-top: 1.5rem;
}

.payment-choice-button, #nano-donation-submit, #i-agree {
  background-color: #4a90e2;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  color: #FFF;
}

.payment-choice-button, #i-agree {
  padding: 0.5rem;
  font-size: 130%;
}

#nano-donation-submit {
  padding: 0.3rem;
}

#nano-donation-submit:disabled {
  background-color: #94b7dd;
  color: #FFF;
}

.payment-choice-description {
  color: #666;
  font-size: 80%;
  margin-top: 0.2rem;
}

#payment-qr-code {
  margin-top: 1rem;
}