body {
  color: #000;
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;                
  font-size: 15px;
  min-width: 500px;
  margin: 0rem;  
}

a, a:visited {
  color: #4A90E2;
}


button, input[type=submit] {
  background-color: #4a90e2;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  color: #FFF;  
  padding: 0.5rem;
  font-size: 110%;  
  min-height: 40px;
}

button > img,
button > span {
  vertical-align: middle;
}


input {
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;                
  padding: 0.2rem;
  font-size: 1rem;
}

h4 {
  margin: 0.2rem;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-content: center;
  margin: 0;
  padding: 0.4rem;
  background-color: #EEE;
}

header #title {
  margin-right: auto;
  margin-left: 0.3rem;
  font-weight: bold;
  color: #333;
}

header .link {
  background: #CCC;
  color: #333;
  border-radius: 5px;
  padding: 0.1rem 0.5rem;;
  font-size: 90%;
}

h3 {
  padding: 0;
  margin: 0.4rem 0 0.8rem 0;
}     

footer {
  background-color: #000034;
  color: #FFF;
  padding: 0.3rem;
  font-size: 0.8rem;
}

footer a, footer a:visited {
  color: #FFF;
}

sup {
  color: #999;
  cursor: help;
  font-weight: normal;  
}

/*---------------------------*/

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/*---------------------------*/

#wrapper {
  border-radius: 5px;
}

/*---------------------------*/

#nano-donation-submit {
  cursor: pointer;
}

#nano-donation-submit:disabled {
  background-color: #94b7dd;
  color: #FFF;
}

/*---------------------------*/

.page {
  display: none;    
  background: #FFFFFF url('/images/nano-donate-background.png') 115% 115% no-repeat;
  padding: 0.8rem;
  padding-bottom: 0.5rem;
  min-height: 400px;
  animation: fadein 0.25s;
}

/*---------------------------*/

#suggestions-wrapper {
  width: 100%;        
  margin-top: 0.8rem;
}

.suggestion {
  display: inline-block;
  color: #FFF;
  min-width: 2rem;  
  max-width: 2rem;  
  border-radius: 5px;
  cursor: pointer;
  margin: 0.3rem 0;
  padding-left: 3rem;
  background: #4a90e2 url('/images/icon-nano-white.png') 14px 5px no-repeat 
}

/*---------------------------*/

#nano-donation-amount {
  width: 9rem;
}

#address-wrapper {
  color: #666;
  margin: 1rem 0;
}

#website-wrapper {
  margin: 0 0 0rem 0;
}

#website {
  color: #666;
}

#nano-amount-error {
  color: red;
  margin: 0.3rem 0 0 1.6rem;
}

#nano-donation-form {
  background-color: #dce9f9;
  margin: 0.5rem 0;
  padding: 1.3rem 1rem;
}

#nano-donation-amount-success {
  font-weight: bold;
}

/*---------------------------*/

#nano-donate-avatar-owner-role {
  display:flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

#nano-donate-avatar-owner-role div {
  margin: 0 0.2rem;
}

#nano-donate-avatar-owner-role img {
  margin: 0 0.3rem 0 0;
}

#nano-donate-entry-role {
  padding-bottom: 0.2rem;
}

/*---------------------------*/

#back-link, #history-link, #history-link-donation-successful {  
  cursor: pointer;
}

#back-link, #history-link {
  margin-left: 1.5rem;
}

/*---------------------------*/

#donation {
  margin: 2rem 0;
  border: 1px solid #999;
  display: block;
}

#donation .row {
  margin: 0.2rem;
}

#donation .row .type {
  background-color: #dce9f9;
  min-width: 10rem;
  display: inline-block;  
}

#donation .row .content {
  display: inline-block;
}

#donation .row .type, #donation .row .content {
  padding: 0.1rem;
}

/*---------------------------*/

#address, #address-qr-code-page {
  font-weight: bold;
  font-family: monospace;
  word-wrap: break-word;
  font-size: 88%;
  width: 200px;
}

.payment-choice-description {
  color: #666;
  font-size: 80%;
  margin-bottom: 1rem;
}

#payment-choices button:first-child {
  margin-top: 1rem;
}

#payment-choices div:last-child {
  margin-bottom: 0;
}

#payment-qr-code {
  margin-top: 1rem;
}

#address-qr-code {
  margin-bottom: 2rem;
}

#nano-donate-entry {
  display: flex;
  flex-direction: column;
  align-content: center
}

#nano-donate-entry-address-owner {
  font-weight: bold;
}

#asterisk-text {
  color: #999;
  font-size: 70%;
  margin: 1.5rem 0 0rem 0;
}

/*---------------------------*/

#address-choices, #payment-choices {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#address-choices button, #payment-choices button {
  width: 100%;
}

#address-choices button, #payment-choices div.payment-choice {
  margin: 1rem;
}

#payment-choices .payment-choice-description {
  color: #666;
  font-size: 80%;
}

